/* root 스타일시트 */
:root { 
  /* =========================================================== */
  /* [ === Color === ] */
  /* =========================================================== */
  --primary-color: #1b1b1b;
  --primary-reverse-color: #ffe032;

  --select-color: #ffe032;

  --secondary-color: #6c757d;
  --secondary-reverse-color: #ffffff;

  /* =========================================================== */
  /* [ === Button === ] */
  /* =========================================================== */
  --btn-w-lg: 400px;
  --btn-w-md: 350px;
  --btn-w-sm: 100px;

  --btn-h-lg: 70px;
  --btn-h-md: 55px;
  --btn-h-sm: 30px;
}


