/* root 스타일시트 */
:root { 
  /* =========================================================== */
  /* [ === Button === ] */
  /* =========================================================== */
  --btn-w-lg: 300px;
  --btn-w-md: 200px;
  --btn-w-sm: 100px;

  --btn-h-lg: 50px;
  --btn-h-md: 40px;
  --btn-h-sm: 30px;
}


