.btn {
    width: var(--btn-w-md);
    height: var(--btn-h-md);
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--select-color);
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

/* 사이즈별 스타일 */
.sm { width: var(--w-sm); height: var(--h-sm); }
.md { width: var(--w-md); height: var(--h-md); }
.lg { width: var(--w-lg); height: var(--h-lg); }