.btn {
    background-color: var(--primary-color);
    color: white;
    font-size: 28px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: var(--btn-w-md);
    height: var(--btn-h-md);
}

.btn:hover {
    background-color: var(--primary-reverse-color);
}

/* 사이즈별 스타일 */
.sm { width: var(--btn-w-sm); height: var(--btn-h-sm); font-size: 16px; }
.md { width: var(--btn-w-md); height: var(--btn-h-md); }
.lg { width: var(--btn-w-lg); height: var(--btn-h-lg); }